.breadcrumbs {
	margin-bottom: 25px;
}

.breadcrumbs__item {
	display: inline-block;
	font-style: italic;
	font-size: 14px;
	font-weight: 300;
	vertical-align: middle;
}

.breadcrumbs__item:after {
	content: "/";
	display: inline-block;
	vertical-align: middle;
}

.breadcrumbs__link {
  color: #f89513;
}

.breadcrumbs__item--active .breadcrumbs__link {
	color: #221f1f;
	text-decoration: none;
}

.breadcrumbs__item--active:after {
	content: none;
}