.breadcrumbs {
	margin-top: 30px;
	margin-bottom: 8px;
}

.breadcrumbs__item {
	display: inline-flex;
	align-items: baseline;
	justify-content: center;
	font-style: italic;
	font-size: 14px;
	font-weight: 300;
}

.breadcrumbs__item:after {
	content: "/";
	display: inline-flex;
	align-items: baseline;
	justify-content: center;
	margin-left: 3px;
}

.breadcrumbs__link {
  color: #f89513;
}

.breadcrumbs__item--active .breadcrumbs__link {
	color: #221f1f;
	text-decoration: none;
}

.breadcrumbs__item--active:after {
	content: none;
}