/* footer */

.page-footer {
  background: #131415;
  color: #fff;
  min-width: 1200px;
  padding: 10px 0;
}


.copyright {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
}

.copyright__desc-link {
  color: #fff;
  font-weight: bold;
}

.copyright__desc-link:hover {
  color: #f89513;
  font-weight: bold;
  transition: 0.3s;
}

.copyright__author-name {
  font-weight: bold;
}