.form {
	display: flex;
	flex-flow: column wrap;
	background: #f5f5f5;
	border-radius: 3px;
	width: 90%;
	margin-bottom: 50px;
	padding: 40px 12%;
}

.form__title {
	font-size: 49px;
	font-weight: bold;
	margin-bottom: 10px;
	max-width: 100%;
}

.form__row {
	display: flex;
	margin-bottom: 18px;
}

.form__block-title {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 7px;
}

.form__input {
	padding: 15px 9px;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 3px;
	width: 100%;
	outline: none;
}

.form__input:focus {
	border-color: #f89513;
}

.form__input[placeholder] {
	font-size: 14px;
	font-weight: 300;
}

.form__block {
	margin-right: 30px;
	flex: 1;
}

.form__block:last-child {
	margin-right: 0;
}

.form__input--area {
	height: 90px;
	resize: none;
	border: 1px solid transparent;
	border-radius: 3px;
	padding-top: 5px;
}


.form__radio-title {
	margin-bottom: 5px;
}

.form__radio-box {
	display: flex;
}

.form__radio-label {
	display: flex;
	align-items: center;
	margin-right: 20px;
	cursor: pointer;
}

/* .form__radio-input:checked,
.form__radio-input:not(:checked) {
	position: absolute;
	left: -9999px;
} */

.form__radio-input:checked ~ .form__radio-show,
.form__radio-input:not(:checked) ~ .form__radio-show {
	display: inline-block;
	position: relative;
	padding-left: 28px;
	line-height: 20px;
}

.form__radio-input:checked ~ .form__radio-show:before,
.form__radio-input:not(:checked) ~ .form__radio-show:before {
	content: "";
	position: absolute;
	left: 0px;
	top: -10px;
	width: 20px;
	height: 20px;
	border: 1px solid #cacaca;
	background: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255,1));
	border-radius: 100%;
	transition: font-size ease .2s;
}

.form__radio-input:checked ~ .form__radio-show:after,
.form__radio-input:not(:checked) ~ .form__radio-show:after {
	content: "";
	position: absolute;
	left: 6px;
	top: -4px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f89513;
	opacity: 1;
}

.form__radio-input:not(:checked) ~ .form__radio-show:after {
	opacity: 0;
}

.form__radio-input:not(:checked) ~ .form__radio-show:before {
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,0));
}

.form__radio-input:checked ~ .form__radio-show:before,
.form__radio-input:checked ~ .form__radio-text {
	border-color: #f89513;
	color: #f89513;
}

.form__button {
	margin-left: auto;
}

.form__btn {
	background-color: #1c1f1d;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 18px 18px;
	border-radius: 3px;
	letter-spacing: 1.2px;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.form__btn:hover {
	background-color: #f89513;
}