/* .form {
	width: 700px;
	height: 427px;
	margin: 68px auto;
}

.form-box {
	padding:38px 64px;
	background-color: #f5f5f5;
	border: 1px solid transparent;
	border-radius: 3px;
}

.name-label,.url-label {
	margin-top: 4px;
	letter-spacing: -1px;
	display: block;
}


.form-title {
	font-size: 49px;
	font-weight: bold;
}

.form-box__top-line {
	display: inline-block;
}

#name:focus,#url:focus,#comment:focus {
	outline: none;
	border: 1px solid #ec1e79;
	color: #221f1f;
}

#comment {
	width: 548px;
	height: 85px;
	resize: none;
	border: 1px solid transparent;
	border-radius: 3px;
	padding-left: 12px;
	line-height: 28px;
	font-size: 14px;
}

.comment-label {
	letter-spacing: -1px;
}

.form-box_url {
	margin-left: 13px;
}

.form-box__comment {
 	margin-top: 16px;
}

#name, #url {
	width: 258px;
	height: 45px;
	border: 1px solid transparent;
	border-radius: 3px;
	color: #908f8f;
	padding-left: 12px;
	letter-spacing: 1.5px;
}

.form-box__radio {
	display: inline-block;
}

.form-box__btn {
	display: inline-block;
	vertical-align: top;
}

.radio-title {
	font-size: 14px;
	margin-top: 10px;
}

.radio {
	display: inline-block;
	margin-top: 6px;
	margin-left: 3px;
	font-size: 16px;
}

.radio__btn {
	display: none;
}

.form__btn {
	width: 140px;
	height: 45px;
	background-color: #2c1d40;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-left: 217px;
	margin-top: 15px;
	letter-spacing: 2px;
	cursor: pointer;
	-webkit-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
}

.form__btn:hover {
	background-color: #f70076;
}

.radio__label {
	vertical-align: middle;
	margin-right: 7px;
}

.radio__label:before {
	content: '';
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.radio__label:hover {
	cursor: pointer;
}

.radio__btn:checked + .radio__label {
	color: #ec1e79;
}

.radio__btn:checked + .radio__label:before {
	content: '\2022';
	border-color: #ec1e79;
	text-align: center;
	line-height: 25px;
	font-size: 30px;
} */