.topnews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.topnews__title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  width: 130px;
  line-height: 1.7em;
}

.topnews__title-month {
  color: #656464;
}

.topnews__photo {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.topnews__item:nth-child(2) {
  margin-bottom: 18px;
}

.topnews__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}