.topnews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.topnews__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  width: 130px;
  line-height: 1.7em;
  margin-bottom: -5px;
}

.topnews__title-month {
  color: #656464;
}

.topnews__photo {
  position: relative;
  width: 170px;
  height: 175px;
  overflow: hidden;
  position: relative;
}

.topnews__photo:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 172px;
  background: rgba(245, 245, 245, 0.2);
}

.topnews__item:first-child .topnews__photo:after {
  height: 124px;
}

.topnews__item:nth-child(2) {
  margin-bottom: 13px;
}

.topnews__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}