.main-content {
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-flow: column wrap;
  width: calc(100% / 12 * 9 - 21px);
}

/* news */

.lastnews {
  margin-bottom: 38px;
}

.lastnews__title,
.reviews__title,
.services-section__title {
  font-size: 49px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.45px;
  margin-bottom: 30px;
  max-width: 100%;
}

.lastnews__item, .reviews__item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 22px;
}

.lastnews__item:last-child, .reviews__item:last-child {
  border-bottom: none;
}

.lastnews__photo, .reviews__photo {
	position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 19px;
  margin-bottom: 15px;
}

.lastnews__pic, .reviews__pic {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lastnews__content, .reviews__content {
  display: inline-flex;
  flex-flow: column wrap;
  width: 77%;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: #221f1f;
  line-height: 30px;
}

.lastnews__data, .reviews__data {
  font-size: 14px;
  color: #656464;
  margin-bottom: 2px;
}

.lastnews__content h4, .reviews__content h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -10px ;
}

.lastnews__content p, .reviews__content p {
  line-height: 30px;
}