.reviews {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 60px;
}

.more {
  display: flex;
  justify-content: center;
  background-color: #131415;
  background-image: url('/img/decor/pattern_big.png ');
  margin-bottom: 28px;
}

.more__text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
	line-height: 30px;
  width: 80%;
  text-align: center;
}

.more__text-orange {
  color: #f89513;
  font-weight: bold;
}


